/* TODO: remove */
.transition {
    transition: all 0.1s ease-in;
}

.primary-action-button {
    background-color: #fe463a;
    @apply .flex .justify-center .items-center .text-white .rounded .py-3 px-5 .font-semibold .transition;
}

.primary-action-button:hover {
    background-color: #E1382D;
    box-shadow: 0 5px 15px rgba(250, 64, 47, 0.34);
}

.secondary-action-button {
    background-image: linear-gradient(to right, #2430ec, #2e5fed);
    @apply .flex .justify-center .items-center .text-white .rounded .py-3 .px-5 .font-semibold .transition;
}

.secondary-action-button:hover {
    background-image: linear-gradient(to right, #1221ec, #1b4feb);
}

.light-button {
    background-color: #eef6ff;
    color: #377fea;
    @apply .flex .items-center .justify-center .font-semibold .rounded .py-3 .px-5 .transition
}

.light-button:hover {
    background-color: #007cff;
    color: #e0f0fd;
}

.link-button {
    color: #037cff;
    @apply .flex .items-center .font-semibold .transition;
}

.link-button:hover {
    color: #1461ff;
}

.icon-button {
    background-color: #eef6ff;
    color: #377fea;
    @apply .flex .items-center .justify-center .rounded .p-3 .transition .w-12 .h-12;
}

.icon-button:hover {
    background-color: #2c62e1;
    color: #e0f0fd;
}