@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-SemiBold.ttf');
    font-weight: 600;
}
