/* TODO: figure out what overwrites the heading styles */
h1,
h2,
h3,
h4 {
    font-family: 'Lato', 'Avenir', Helvetica, Arial, sans-serif;
    @apply .font-black .leading-none !important;
}

h1 {
    @apply .text-4xl .mb-3 !important;
}

@screen sm {
    h1 {
        @apply .text-6xl !important;
    }
}

html {
    background-color: #e2e6ec;
}

body {
    margin: 0;
    color: #252f3e;
    background-color: #e2e6ec !important;
}

#content {
    font-family: 'Nunito Sans', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 28%;
    background-size: 100%;
    max-width: 1400px;
    @apply .flex .flex-col .items-center .bg-no-repeat .w-full .px-4;
}

@screen sm {
    #content {
        @apply .px-10;
    }
}

@media screen and (min-width: 1400px) {
    #content {
        padding-top: 25rem;
    }
}

.home {
    @apply .flex .flex-col .items-center;
}

.inline-link,
.inline-link:visited {
    color: inherit;
    @apply .underline .cursor-pointer;
}

.inline-link:hover,
.inline-link:visited:hover {
    @apply .text-gray-600;
}
