@import url("https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css");

@media print {
    #content {
        padding-top: 3rem !important;
        background-image: none !important;
    }

    .print-ignore {
        display: none !important;
    }

    .passphrase-grid {
        height: 8rem;
    }

    .passphrase-grid > div {
        height: 2.1rem;
    }
}
