doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Ark Paper Wallet v1.0.0
    meta(name='description', content='Paper wallet generator for Ark cryptocurrency.')
    meta(name='keywords', content='ark,paperwallet,paper,wallet,cryptocurrency,ark.io,crypti')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='third-party/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/index.css')
  body(ng-controller='main', ng-cloak)
    .container-fluid
      .row.noprint
        .col-md-12
          .page-header.text-center
            h1
              a(href='index.html') Ark Paper Wallet
              = ' '
              span.version v1.0.0
            h5
              = 'Unofficial paper wallet generator for '
              a(href='http://ark.io', target='blank') Ark
              = ' cryptocurrency. '
              = 'Hosted by Github Pages. Source code is available '
              a(href='https://github.com/arkecosystem/ark-paperwallet', target='blank') here
              = '.'
            h5.text-center: small
              = 'We recommended use this tool offline: '
              a.alert-link(href='https://github.com/arkecosystem/ark-paperwallet/archive/v1.0.0.tar.gz') download
              = ' the source code and open index.html in your browser without internet access.'
            .gh-btns
              a.github-button(href='https://github.com/arkecosystem/ark-paperwallet', data-icon='octicon-eye', data-style='mega', data-count-href='/arkecosystem/ark-paperwallet/watchers', data-count-api='/repos/arkecosystem/ark-paperwallet#subscribers_count', data-count-aria-label='# watchers on GitHub', aria-label='Watch arkecosystem/arkpaperwallet on GitHub') Watch
              a.github-button(href='https://github.com/arkecosystem/ark-paperwallet', data-icon='octicon-star', data-style='mega', data-count-href='/arkecosystem/ark-paperwallet/stargazers', data-count-api='/repos/arkecosystem/ark-paperwallet#stargazers_count', data-count-aria-label='# stargazers on GitHub', aria-label='Star arkecosystem/arkpaperwallet on GitHub') Star
              a.github-button(href='https://github.com/arkecosystem/ark-paperwallet/fork', data-icon='octicon-repo-forked', data-style='mega', data-count-href='/arkecosystem/ark-paperwallet/network', data-count-api='/repos/arkecosystem/ark-paperwallet#forks_count', data-count-aria-label='# forks on GitHub', aria-label='Fork arkecosystem/arkpaperwallet on GitHub') Fork
              a.github-button(href='https://github.com/arkecosystem/ark-paperwallet/issues', data-icon='octicon-issue-opened', data-style='mega', data-count-api='/repos/arkecosystem/ark-paperwallet#open_issues_count', data-count-aria-label='# issues on GitHub', aria-label='Issue arkecosystem/arkpaperwallet on GitHub') Issue
              a.github-button(href='https://github.com/arkecosystem/ark-paperwallet/archive/v1.0.0.tar.gz', data-icon='octicon-cloud-download', data-style='mega', aria-label='Download arkecosystem/arkpaperwallet on GitHub') Download

      entropy
      wallet
      #preload

    script(type='text/ng-template', id='entropy')
      .row.noprint.btns
        .col-md-12.text-center
          button.btn.btn-info.btn_random(type='button', ng-click='random.start()', ng-disabled='btn_disabled') Create a new random wallet
          button.btn.btn-info(type='button', ng-click='enter.start()', ng-disabled='btn_disabled') Enter a secret passphrase
      .row.noprint(ng-show='enter.started')
        .col-md-12.text-center
          .form-group: input.form-control.input-lg.text-center.input_passphrase(type='text', placeholder='enter your passphrase here', ng-model='enter.value', ng-keyup='enterKeyUp($event)')
          button.btn.btn-default.btn_generate(ng-disabled='!enter.valid', ng-click='enterGenerate()') Generate
      .row.noprint
        .col-md-12(ng-show='random.started')
          h4.text-center.pulsaste Move your mouse to generate random bytes
          uib-progressbar(max='100', value='random.progress')
          .bytes.text-center
            byte(ng-repeat='byte in random.tmp track by $index', ng-data='byte', animate-on-change='byte')

    script(type='text/ng-template', id='byte')
      .hex(ng-bind='hex')
      .dec(ng-bind='dec')

    script(type='text/ng-template', id='wallet')
      .row.noprint.loading
        .col-md-12
          .cssload-loader
      .row.noprint.after
        .col-md-12
          .panel.panel-danger
            .panel-heading: h3.panel-title.text-center Secret Passphrase (KEEP SAFE)
            .panel-body.text-center
              span.hash.passphrase(ng-bind='data.passphrase', clipboard)
      .row.noprint.after
        .col-md-12
          .panel.panel-success
            .panel-heading: h3.panel-title.text-center Public Address (SHARE)
            .panel-body.text-center
              span.hash.address(ng-bind='data.address', clipboard)
      .row.noprint.after
        .col-md-12
          ul.list-group.data
            li.list-group-item
              span.badge entropy
              span.hash(ng-bind='data.entropy', clipboard)
            li.list-group-item
              span.badge seed
              span.hash(ng-bind='data.seed', clipboard)
            li.list-group-item
              span.badge public key
              span.hash(ng-bind='data.publicKey', clipboard)
            li.list-group-item
              span.badge private key
              span.hash(ng-bind='data.privateKey', clipboard)
      .row.noprint.after
        .col-md-6.text-center
          h2
            = 'Public Address '
            small SHARE
          qrcode.big(data='data.addressqr', size='240')
        .col-md-6.text-center
          h2
            = 'Secret Passphrase '
            small KEEP SAFE
          qrcode.big(data='data.passphraseqr', size='240')
      .row.after
        .col-md-12.text-center
          h2.noprint Paper Wallet
          .papers.noprint
            .btn-group.btn-group-xs
              button.btn(ng-repeat='(id, art) in arts', ng-bind='id', ng-click='set_art(id)', ng-class="{ 'btn-primary': id === art_active, 'btn-info': id !== art_active }", ng-if='id > 0')
            button.btn.btn-xs.btn-success(type='button', ng-model='amount', uib-btn-checkbox, btn-checkbox-true='1', btn-checkbox-false='0') Show amount
      .row.after
        .col-md-12.text-center
          .paper-wrapper.center-block(ng-style='{ width: art.width + 2, height: art.height + 2 }')
            .paper(ng-style='{ width: art.width, height: art.height }')
              img(ng-src="images/{{ art.image }}{{ amount ? 'a' : '' }}.png")
              qrcode(data='data.addressqr', size='art.address.qr.size', ng-style='art.address.qr')
              qrcode(data='data.passphraseqr', size='art.passphrase.qr.size', ng-style='art.passphrase.qr')
              .address(ng-bind='data.address', ng-style='art.address.text')
              .address_label(ng-hide='art.address.label.hide', ng-style='art.address.label') public address
              .passphrase(ng-bind='data.passphrase', ng-style='art.passphrase.text')
              .passphrase_label(ng-hide='art.passphrase.label.hide', ng-style='art.passphrase.label') secret passphrase
              .amount_label(ng-show='amount', ng-style='art.amount.label') amount:
      .row.noprint.after
        .col-md-12.text-center
          button.btn.btn-warning(type='button', ng-click='print()')
            span.glyphicon.glyphicon-print(aria-hidden='true')
            = ' Print Paper Wallet'

    script(src='third-party/jquery/dist/jquery.min.js')
    script(src='third-party/jquery-qrcode/dist/jquery.qrcode.min.js')
    script(src='third-party/angular/angular.min.js')
    script(src='third-party/angular-animate/angular-animate.min.js')
    script(src='third-party/bootswatch-dist/js/bootstrap.min.js')
    script(src='third-party/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='lib/wallet.js')
    script(src='lib/index.js')
    script#github-bjs(async, defer, src='https://buttons.github.io/buttons.js')
